<nav style="background-color: rgba(158,158,158,0.21);">
    <div class="nav-wrapper">
      <a href="#" style="color: #9E9E9E; margin-right:10px;" class="right">Copyright &copy; Myself</a>
      </div>
      </nav>